/*-- scss:defaults --*/

$theme: "ecodiv" !default;

// ============= COLORS ========================================================

// ------------- Generic color system ------------------------------------------

$white:    #fff !default;
$gray-code: #f1f3f5;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #373a3c !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$blue:    #2780e3 !default;
$indigo:  #6610f2 !default;
$purple:  #613d7c !default;
$pink:    #e83e8c !default;
$red:     #ff0039 !default;
$orange:  #f0ad4e !default;
$yellow:  #ff7518 !default;
$green:   #3fb618 !default;
$teal:    #20c997 !default;
$cyan:    #9954bb !default;

// ------------- Colors HAS green academy --------------------------------------

$haslightgreen: #1CD354 !default;
$hasdarkgreen:  #274232 !default;
$haslightblue:  #008AFF !default;
$hasdarkblue:   #163951 !default;
$haslightpink:  #E324BA !default;
$hasdarkpink:   #421B44 !default;
$haslightred:   #ED2B00 !default;
$hasdarkred:    #511A23 !default;

// ------------- Colors Ecodiv -------------------------------------------------

$ecodivblue: #246ABE !default;
$ecodivblue-hover: #086D96 !default;
$ecodivblue-background: #EEF4FA88 !default;
$ecodivblue-borders: #D8E4F3 !default;
$ecodivlightblue: #038FC9 !default;
$ecodivlightblue-hover: #0773A0 !default;
$ecodivgreen: #57B444 !default;
$ecodivlightgreen: #57b44444 !default;
$ecodivgreen-background: #57b44411 !default;
$ecodivgreen-hover: #3F932E !default;

// ------------- Colors GRASS GIS ---------------------------------------------

$grass-color: #0b8b36 !default;
$grass-color-alt: #9ED29C !default;
$grass-color-light: #EFF4E8 !default;
$grass-background-color: #eff3e9ff !default;
$grass-background-opac: rgb(239,244,232, 0.5) !default;
$grass-color-light-borders: #DBE2D2 !default;
$grass-color-dark: #B8C6A5 !default;
$grey-color-light: #CCCCCC !default;
$grey-color-dark: #A0A0A0 !default;

$min-contrast-ratio:   2.6 !default;

// ------------- Default colors ------------------------------------------------

$primary:       $gray-900 !default;
$secondary:     $ecodivlightblue !default;
$success:       $haslightgreen !default;
$info:          $haslightpink !default;
$warning:       $hasdarkpink !default;
$danger:        $haslightred !default;
$light:         $haslightblue !default;
$dark:          $hasdarkblue !default;

// ------------- FONT ----------------------------------------------------------

$font-size-root: 16px;
$h1-font-size: 1.6rem;
$h2-font-size: 1.4rem;
$h3-font-size: 1 rem;
$h4-font-size: 1rem;
$h5-font-size: 1rem;
$toc-font-size: 1rem;

$enable-rounded: false !default;

// ------------- OBJECTS -------------------------------------------------------

$space_text_object_top: 1.4rem;
$space_text_object_bottom: 0;

// ------------- Page ----------------------------------------------------------

$body-color:    $gray-800 !default;
$grid-body-width: 825px !default;
// $grid-margin-width: 250px !default;
// $grid-sidebar-width: 250px !default;

// ============= RULES =======================================================

/*-- scss:rules --*/


// ------------- Navbar -------------------------------------------------------

.navbar {
  color: $gray-600 !important;
  background-color: $white;
  --bs-navbar-padding-y: 0.0 rem !important;
  --bs-navbar-brand-font-size: 2.375rem !important;
}

.navbar-logo {
    max-height: 36px !important;
    padding-right: 0.5rem !important;
}

.navbar-brand {
  padding: 0rem 0.1rem 0rem 0.1rem !important;
}

.navbar-brand-logo {
  margin-right: 0.1rem !important;
}

.navbar-title {
  font-size: 1.4rem !important;
}

// -------------  Sidebar ------------------------------------------------------

.sidebar-menu-container {
  margin-top: 0px;
}

.quarto-cover-image {
  max-width: 30%;
  float: right;
  margin-left: 35px;
  margin-bottom: 6px;
}

.sidebar-item {
  line-height: 1.2rem !important;
}

.sidebar nav[role="doc-toc"] ul > li > a, .sidebar nav[role="doc-toc"] ul > li > ul > li > a  {
  color: $gray-600 !important;
}

.sidebar nav[role="doc-toc"] ul > li > a.active, .sidebar nav[role="doc-toc"] ul > li > ul > li > a.active  {
  border-left: 1px solid $gray-700;
  color: $ecodivgreen !important;
}

div.sidebar-item-container , div.sidebar-item-container .show > .nav-link, div.sidebar-item-container .sidebar-link > code {
  color: $gray-600;
}

.sidebar-item .chapter-number {
  color: $gray-600;
}

div.sidebar-item-container .active, div.sidebar-item-container .show > .nav-link, div.sidebar-item-container .sidebar-link > code {
  color: $ecodivblue;
  font-weight: 600;
}

.sidebar-item .active .chapter-number {
  color: $ecodivblue;
  font-weight: 600;
}

.sidebar nav[role="doc-toc"] ul > li > a:hover, .sidebar nav[role="doc-toc"] ul > li > ul > li > a:hover {
  color: $ecodivblue !important;
}

.sidebar-navigation .sidebar-item {
    font-size: $toc-font-size;
}
.nav-page .nav-page-text, .sidebar-navigation .sidebar-section .sidebar-item {
    font-size: $toc-font-size - 0.05;
  }

// ------------- Fonts --------------------------------------------------------

// stylelint-disable-next-line value-keyword-case
$font-family-sans-serif:    "Helvetica Neue", Arial, sans-serif, "Verdana", "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$headings-font-weight:      400 !default;

h1.title {
font-size: 2.2rem !important;
}

h2 {
  margin-top: 1.5rem !important;
  color: $ecodivblue;
}

H2 > .header-section-number {
  color: $ecodivblue;
}

h3 {
  color: #6c6c6c;
}

#title-block-header.quarto-title-block.default .quarto-title h1.title {
  margin-bottom: 0.5rem;
}

.quarto-section-identifier {
  color: #6c6c6c;
  font-weight: normal;
}

a {
  color: $ecodivlightblue-hover;
  text-decoration-color: $ecodivlightblue-hover !important;
  text-decoration: none;
}

a:hover {
  color: $ecodivgreen-hover !important;
  text-decoration-color: $ecodivgreen-hover !important;
}

.figure-caption, .subfigure-caption, .table-caption, figcaption, caption {
  font-size: .95rem;
  text-align: left !important;
}

.column-margin figcaption .style-function,
.column-margin figcaption .style-data,
.column-margin figcaption .style-menu,
.column-margin figcaption .style-parameter
.column-margin figcaption .style-apps,
.column-margin figcaption .style-file,
.column-margin figcaption .style-folder
{
  color: #6d7a86 !important;
}

// ------------- Foot notes ----------------------------------------------------

.footnotes.footnotes-end-of-document {
  color: $gray-500 !important;
}

.footnotes a {
  color: $gray-500 !important;
  text-decoration: dotted underline $gray-500 !important;
}

.footnotes a.footnote-back{
  color: $gray-500 !important;
  text-decoration: none !important;
}

section#footnotes > hr {
  display: none !important;
}

.footnotes .style-function,
.footnotes .style-data,
.footnotes .style-menu,
.footnotes .style-parameter,
.footnotes .style-apps,
.footnotes .style-file,
.footnotes .style-folder,
.footnotes code
{
  color: $gray-500 !important;
}


/*
section#footnotes {
  display: none !important;
}

#quarto-appendix.default {
    border-top: none !important;
}
*/


// ------------- Special text (inline) -----------------------------------------

.style-data {
  font-family: monospace;
  font-size: 0.9rem;
  color: $ecodivgreen-hover;
}
.style-db {
  font-style: italic;
}
.style-apps {
  font-family: monospace;
  font-size: 0.9rem;
  color: $hasdarkred;
}
.style-function {
  font-family: monospace;
  font-size: 0.9rem;
  color: $hasdarkblue;
}
.style-menu {
  font-family: monospace;
  font-size: 0.9rem;
  color: $hasdarkpink;
}
.style-parameter {
  font-family: monospace;
  font-size: 0.98rem;
  font-style: italic;
}
.style-variable {
  font-family: monospace;
  font-size: 0.98rem;
  font-style: italic;
}
.style-code {
  font-family: monospace;
  font-size: 0.9rem;
}
.style-output {
  font-family: monospace;
  font-size: 0.9rem;
}
.style-file {
  font-family: monospace;
  font-size: 0.9rem;
}
.style-folder {
  font-family: monospace;
  font-size: 0.9rem;
}
.column-margin .style-data {
  font-size: .8rem;
}
.column-margin .style-db {
  font-size: .825rem;
}
.column-margin .style-apps {
  font-size: .8rem;
}
.column-margin .style-function {
  font-size: .8rem;
}
.column-margin .style-parameter {
  font-size: .8rem;
}

// ------------- Alerts --------------------------------------------------------

$alert-border-width:            0 !default;

// ------------- Progress bars -------------------------------------------------

$progress-height:               .5rem !default;


// ------------- circled  numbers-----------------------------------------------

.circlegreen {
  border-radius: 50%;
  padding: 1px 5px 1px 5px;
  margin-bottom: 2px;
  background: green;
  border: 0px solid green;
  color: $white;
  font-family: Courier New;
  font-size: 0.75em;
}

.circlehasgreen {
  border-radius: 50%;
  padding: 1px 5px 1px 5px;
  margin-bottom: 2px;
  background: $haslightgreen;
  border: 0px solid $haslightgreen;
  color: $white;
  font-family: Courier New;
}

.circlered {
  border-radius: 50%;
  padding: 1px 5px 1px 5px;
  margin-bottom: 2px;
  background: $red;
  border: 0px solid $red;
  color: $white;
  font-family: Courier New;
}


.circleblue {
  border-radius: 50%;
  padding: 1px 5px 1px 5px;
  margin-bottom: 2px;
  background: $ecodivblue;
  border: 0px solid $ecodivblue;
  color: $white;
  font-family: Courier New;
}


.circleorange {
  border-radius: 50%;
  padding: 1px 5px 1px 5px;
  margin-bottom: 2px;
  background: $orange;
  border: 0px solid $orange;
  color: $white;
  font-family: Courier New;
}

.circlepurple {
  border-radius: 50%;
  padding: 1px 5px 1px 5px;
  margin-bottom: 2px;
  background: $purple;
  border: 0px solid $purple;
  color: $white;
  font-family: Courier New;
}

// ------------- Callouts ------------------------------------------------------

.callout {
  margin-top: 0.5rem !important;
}

.callout-body {
  font-size: 0.95rem !important;
}

.callout-body {
  font-size: 0.95rem !important;
}

.callout-body .style-file,
.callout-body .style-apps,
.callout-body .style-folder,
.callout-body .style-parameter,
.callout-body .style-function,
.callout-body .style-data,
.callout-body .style-menu {
  font-size: 0.93rem !important;
}

div.callout-tip.callout {
  border-left-color: $ecodivgreen !important;
}

div.callout-note.callout {
  border-left-color: #038fc9 !important;
}
div.callout-tip.callout-style-default > .callout-header {
  background-color: $ecodivgreen-background !important
}

div.callout-note.callout {
  border-left-color: $ecodivblue !important;
}

div.callout-note.callout-style-default > .callout-header {
  background-color: $ecodivblue-background !important
}

// ------------- Panel tabset --------------------------------------------------

.nav {
  --bs-nav-link-padding-x: 0.8rem;
  --bs-nav-link-padding-y: 0.4rem !important;
  border-bottom: 1px solid $grass-color-light-borders !important;
}

.nav-tabs .nav-item .nav-link {
  font-size: .95rem !important;
  color: $grass-color !important;
  border: 0.5px solid $grass-color-light-borders !important;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.panel-tabset {
   margin-top: $space_text_object_top;
   margin-bottom: 1.4rem;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link.active {
  color: $white;
  background-color: $grass-color-light !important;
  border-left: 1px solid $grass-color-light-borders !important;
  border-right: 1px solid $grass-color-light-borders !important;
  border-bottom: 1px solid $grass-background-color !important;
  border-top: 1px solid $grass-color-light-borders !important;
  border-bottom: 0;
}

.tab-content {
  padding-top: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.5em;
  margin-bottom: 0.1em;
  border-left: 1px solid $grass-color-light-borders !important;
  border-right: 1px solid $grass-color-light-borders !important;
  border-bottom: 1px solid $grass-color-light-borders !important;
  border-top: 0px solid $grass-color-light-borders !important;
}

.panel-tabset .style-parameter,
.panel-tabset .style-function,
.panel-tabset .style-data,
.panel-tabset .style-file,
.panel-tabset .style-apps,
.panel-tabset .style-folder,
.panel-tabset .style-menu {
  font-size: .95rem !important;
}


.tab-content th{
  font-weight: 600;
  font-size: 0.92rem;
  color:  grey;
}

.tab-content .table{
  background-color: $gray-code;
  border: 1px solid white;
  padding: 0;
  font-size: 0.92rem;
}

.tab-content .table > thead{
  border-bottom: 3px solid white;
  border-left: 3px solid white;
  padding-top: 0 !important;
}

.tab-content .table > :not(caption) > * > * {
  padding: .2rem .5rem;
}

.tab-content td code {
  color: $gray-900 !important;
  background-color: $gray-code;
}

.tab-pane > p {
  padding-top: 0em;
}

.thisiscode p {
  color: $gray-600 !important;
  font-size: 0.97em;
  padding-bottom: 0;
  padding-left: 0.2em;
  margin-bottom: 0;
}

div.sourceCode {
  margin: 0.2em 0;
  margin-top: 0.5em;
}

div.sourceCode + p {
  margin-top: 1em;
}

.circular--square {
  border-radius: 50%;
}
.circular--landscape {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%; }

.circular--landscape img {
  width: auto;
  height: 100%;
  margin-left: -50px;
}

.paneltabcolor {
  color: $grass-color !important;
}

// ------------- Exercise tabset --------------------------------------------------

.panel-tabset.exercise .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link.active {
  background-color: $ecodivblue-background !important;
  border-color:  $ecodivblue-borders !important;
}

.panel-tabset.exercise .nav-tabs .nav-item .nav-link {
  font-size: .9rem !important;
  color: $ecodivlightblue !important;
  //line-height: 1px;
  border: 0.5px solid $ecodivblue-borders !important;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.panel-tabset.exercise {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.panel-tabset.exercise .style-parameter,
.panel-tabset.exercise .style-function,
.panel-tabset.exercise .style-data,
.panel-tabset.exercise .style-file,
.panel-tabset.exercise .style-apps,
.panel-tabset.exercise .style-folder,
.panel-tabset.exercise .style-menu {
  font-size: .9rem !important;
}

// ------------- Variables -----------------------------------------------------

$web-font-path: "https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap" !default;
@if $web-font-path {
  @import url($web-font-path);
}

// ------------- Typography ----------------------------------------------------

body {
  -webkit-font-smoothing: antialiased;
}

// ------------- Indicators ----------------------------------------------------

.badge {
  &.bg-light {
    color: $dark;
  }
}

// ------------- Figures -------------------------------------------------------

.quarto-layout-panel {
  margin-top: $space_text_object_top;
  margin-bottom: $space_text_object_bottom;
}

.quarto-layout-panel > figure > figcaption, .quarto-layout-panel > .panel-caption {
  margin-top: 0px;
}

.quarto-figure {
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
}

figure > figcaption.quarto-float-caption-bottom {
  margin-bottom: 1.5em;
}

// ------------- Code annotations ----------------------------------------------

.code-annotation-tip-content .style-parameter,
.code-annotation-tip-content .style-function,
.code-annotation-tip-content .style-data,
.code-annotation-tip-content .style-file,
.code-annotation-tip-content .style-apps,
.code-annotation-tip-content .style-folder,
.code-annotation-tip-content .style-menu {
  font-size: 0.92rem !important;
}

// ------------- Columns -------------------------------------------------------

div.columns {
  display: flex !important;
  gap: min(4vw, 1.5em) !important;
}

// ------------- theorem -------------------------------------------------------

.tab-content.exercise {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.theorem.exercise p {
  margin-top: 0.3rem !important;
}

.theorem.exercise p:last-child {
  margin-bottom: 0rem !important;
}

// ------------- code -------------------------------------------------------

div.sourceCode {
}

.add_bottom_space {
  margin-bottom: 0.75rem;
  margin-left: 1.75rem;
}

/*==============================================================================
exercise
==============================================================================*/

.toggleMyanswer {
	display: "none"
}

details {
  padding: 6px 10px 6px 10px;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  border-radius: 5px;
  border-left: 5px solid #274232;
  font-size: 1em;
  background-color: #f9f9f9;
}

details.video {
  border-left: 5px solid #1cd354 !important;
}
details.reading {
  border-left: 5px solid #1cd354 !important;
}

details > summary {
  color: var(--bs-body-color);
}

details[open] {
  padding: 6px 10px 6px 10px;
  margin-bottom: 18px;
  border-radius: 5px;
  border-top: 1px solid #1cd354;
  border-bottom: 1px solid #1cd354;
  border-left: 5px solid #1cd354;
  border-right: 1px solid #1cd354;
  background-color: #FFFFFF;
  color: var(--bs-body-color);
  font-size: 1em;
}

summary {
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 0px;
  display: inline-block;
  padding-left: 6px;
  padding-right: 6px;
  font-size: 0.99em;
}


details[open] > summary {
  color:#464646;
  border-bottom: 1px dotted #274232;
  margin-bottom: 1.5rem;
  padding-bottom: 6px;
  font-size: 0.99em;
}

summary p{
  margin-bottom: 0;
}

details, theorem.example {
  border-left: 5px solid #1cd354;
  background-color: #fff;
  border-right: 1px #dee2e6;
  border-top: 1px #dee2e6;
  border-bottom: 1px #dee2e6;
}

details, theorem.exercise {
  border-left: 5px solid #dee2e6;
  background-color: #fff;
  border-right: 1px solid #dee2e6 !important;
  border-top: 1px solid #dee2e6 !important;
  border-bottom: 1px solid #dee2e6 !important;
  font-size: 99%;
}

/*==============================================================================
Hacks
==============================================================================*/

.removespace {
  margin-top: -20px;
  padding-top: 0;
}

.hiddendiv {
  /* position: absolute;  Keep it in the flow of the document */
  /* left: -9999px;      Move it off the screen */
  /* height: 0;          Collapse its height */
  /* overflow: hidden;   Ensure no content is visible */
  /* scroll-margin-top: 4em; */
}

.hiddendiv p {
  color: $grass-color;
  margin-bottom: -54px;
  margin-left: 145px;
  padding-top: 12px;
  font-size: 1em;
}

.hidefootnotes, .footnotes {
  display: none;
}

/* Mobile-friendly adjustments */
@media (max-width: 768px) {

  .hiddendiv, .hiddendiv p {
    display: block; /* Ensures the content is visible */
  }

  .hidefootnotes, .footnotes {
    display: block; /* Makes footnotes visible on mobile */
  }

  .removespace {
    margin-top: -40px;
    padding-top: 0;
  }

}

/*==============================================================================
Floating images
==============================================================================*/

/* For mobile phones: */
.floatleft {
}

.floatleft .caption {
	margin-bottom: 0px;
}

.floatright {
}

.floatright30 {
}

@media only screen and (min-width: 599px) {
  /* For desktop: */
  .floatleft {
  	float:left;
  	width: 50%;
  	height: auto;
  	margin: 2px 20px 2px 2px;
  }

  .floatleft .caption {
  	margin-bottom: 0px;
  }

  .floatright {
  	float:right;
  	width: 50%;
  	height: auto;
  	margin: 2px 2px 2px 20px;
  }

  .floatright30 {
  	float:right;
  	width: 30%;
  	height: auto;
  	margin: 2px 2px 2px 20px;
  }
}

.figure-caption.margin-caption{
  font-size: 0.9rem;
  text-align: left;
  color: #747a7f;
  margin-top: auto;
  margin-bottom: auto;
}
